.fss {
  font-size: 12px;
}
.fsb {
  font-size: 16px;
}
.fsl {
  font-size: 18px;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.cb {
  clear: both;
}
.oh {
  overflow: hidden;
}
.cboh {
  clear: both;
  overflow: hidden;
}
.bg-nr {
  background-repeat: no-repeat;
}
.bg-rx {
  background-repeat: repeat-x;
}
.bg-ry {
  background-repeat: repeat-y;
}
.font-normal {
  font-weight: normal;
}
.font-bold {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
